*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}

h4{
    color: #fff;
    font-size: 20px;
}

body{
    background: linear-gradient(131deg, rgba(203,204,79,1) 0%, rgba(255,0,0,1) 100%);
}

button{
    background: rgba( 255, 255, 255, 0.6 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 4px;
    cursor: pointer;
}

.top-logo{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.items{
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.item{
    display: inline-block;
    padding: 1rem;
    transition: all 0.4s ease;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 2rem;
    max-height: 300px;
}

.item:hover{
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.cardapio_img{
    object-fit: cover;
    width: 17rem;
    border-radius: 20px;
    height: 150px;
}